@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body {
  background: #403F4C;
}

h1 {
  position: absolute;
  width: 841px;
  height: 239px;
  left: 43px;
  top: 390px;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 61px;
  color: #FFE2D1;
}

h2 {
  position: absolute;
  width: 39px;
  height: 556px;
  left: 1850px;;
  top: 145px;

  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 61px;

  text-align: center;

  color: #FFE2D1;
}

h3 {
  position: absolute;
  width: 55px;
  height: 18px;
  left: 540px;
  top: 530px;

  font-family: Playfair Display;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 10px;

  letter-spacing: 0.3em;

  color: #6B6B6B;
}

/*.arrow {
  position: absolute;
  width: 15.62px;
  height: 0px;
  left: 540px;
  top: 530px;

  border: 1px solid #6B6B6B;
  box-sizing: border-box;
  transform: rotate(-129.81deg);
}
*/
.circle1 {
  position: absolute;
  width: 700px;
  height: 700px;
  left: -185px;
  top: 170px;
  border: 5px solid #FFE2D1;
  box-sizing: border-box;
  border-radius: 500px;
}

.circle2 {
  position: absolute;
  width: 37px;
  height: 37px;
  left: 494px;
  top: 500px;
  cursor: pointer;

  background: #FFE2D1;
  border-radius: 500px;
  border: none;
}

.line {
  position: absolute;
  width: 1416px;
  height: 0px;
  left: 500px;
  top: 516px;

  border: 2px solid #FFE2D1;
}
